.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.PaginationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--ua-blue);
  border: none;
  border-radius: 12px;
  color: var(--white-color);
  transition: background var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.PaginationButton:not(.PaginationButton__active):not(
    .PaginationButton__disabled
  ):hover {
  background: var(--ua-yellow);
  cursor: pointer;
  color: var(--ua-blue);
  border: 1px solid var(--ua-yellow);
}

.PaginationButton__active {
  border: 1px solid var(--ua-blue);
  color: var(--ua-yellow);
}

.PaginationButton__disabled {
  color: var(--gray-color);
  cursor: not-allowed;
}

.PaginationButtonPrev {
  transform: rotate(-90deg);
}

.PaginationButtonNext {
  transform: rotate(90deg);
}
