.ItemBadge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* width: 178px; */
  /* height: 90px; */
  overflow: hidden;
  gap: 14px;
  border-bottom: 1px solid var(--gray-light-color);
}
.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 18px;
  height: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  overflow: hidden;
}

.name {
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: help;
}

.measure {
  color: var(--gray-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: help;
}

.deleteButton {
  position: absolute;
  top: 0px;
  right: 0px;
}

@media (max-width: 375px) {
  .ItemBadge {
    width: 152px;
    height: 75px;
    gap: 10px;
  }

  .imageWrapper {
    width: 75px;
    padding: 10px;
  }

  .content {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
    gap: 2px;
  }
}
