.container {
  /* padding-top: 64px; */
  padding-bottom: 64px;

  @media screen and (min-width: 768px) {
    /* padding-top: 100px; */
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1440px) {
    /* padding-top: 120px; */
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.breadcrumbs {
  margin-top: 12px;
  margin-bottom: 24px;
  margin-left: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.servicesTitleBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  margin-bottom: 32px;

  @media only screen and (min-width: 768px) {
    gap: 20px;
    margin-bottom: 40px;
  }
}

.servicesBackButton {
  display: flex;
  gap: 4px;
  padding: 0px;
  background-color: transparent;
  color: var(--ua-blue);
  border: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .servicesBackButton {
    font-size: 14px;
    line-height: 18px;
    gap: 6px;
  }
}

.servicesBackIcon {
  width: 16px;
  height: 16px;
  fill: var(--ua-blue);
}
@media screen and (min-width: 768px) {
  .servicesBackIcon {
    width: 18px;
    height: 18px;
  }
}

.servicesCategory {
  font-size: 28px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--ua-blue);
}
@media screen and (min-width: 768px) {
  .servicesCategory {
    font-size: 40px;
    line-height: 44px;
  }
}

.servicesDescription {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--ua-blue);
}
@media screen and (min-width: 768px) {
  .servicesDescription {
    font-size: 16px;
    line-height: 24px;
    color: var(--ua-blue);
  }
}

.breadcrumbsItem {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--ua-blue);
}
