.ButtonIcon {
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
  border-radius: 12px;
}

.ButtonIcon.verysmall {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.ButtonIcon.verysmall svg {
  width: 12px;
  height: 12px;
  fill: var(--ua-blue);
}

.ButtonIcon.small {
  width: 36px;
  height: 36px;
}

.ButtonIcon.small svg {
  width: 16px;
  height: 16px;
  fill: var(--ua-blue);
}

.ButtonIcon.medium {
  width: 42px;
  height: 42px;
}

.ButtonIcon.medium svg {
  width: 18px;
  height: 18px;
  fill: var(--ua-blue);
}

.ButtonIcon.large {
  width: 46px;
  height: 46px;
}

.ButtonIcon.large svg {
  width: 24px;
  height: 24px;
  fill: var(--ua-blue);
}

.ButtonIcon.aicard {
  background: var(--ua-main-1);
  color: var(--main-color);
  border-color: var(--gray-light-color);
}

.ButtonIcon.aicard:not(:disabled):hover svg {
  transform: scale(1.4);
}

.ButtonIcon.aicardOn {
  background: var(--ua-main-1);
  color: var(--main-color);
  border-color: var(--gray-light-color);
}

.ButtonIcon.aicardOn svg {
  background: var(--ua-main-1);
  fill: red;
  border-color: var(--gray-light-color);
  width: 20px;
  height: 20px;
}

.ButtonIcon.aicardOn:not(:disabled):hover svg {
  transform: scale(1.4);
}

.ButtonIcon.aicardOff {
  background: var(--ua-main-1);
  color: var(--main-color);
  border-color: var(--gray-light-color);
}

.ButtonIcon.aicardOff svg {
  background: var(--ua-main-1);
  fill: rgb(1, 196, 1);
  border-color: var(--gray-light-color);
  width: 20px;
  height: 20px;
}

.ButtonIcon.aicardOff:not(:disabled):hover svg {
  transform: scale(1.4);
}

.ButtonIcon.light {
  background: var(--ua-main-1);
  color: var(--main-color);
  border-color: var(--gray-light-color);
}

.ButtonIcon.light:not(:disabled):hover {
  background: var(--ua-blue);
  color: var(--white-color);
  border-color: var(--ua-blue);
}

.ButtonIcon.light:not(:disabled):hover svg {
  fill: var(--ua-yellow);
}

.ButtonIcon.dark {
  background: var(--ua-blue);
}

.ButtonIcon.dark:not(:disabled):hover {
  background: var(--ua-blue);
  color: var(--white-color);
  border-color: var(--ua-blue);
}

.ButtonIcon.dark svg {
  fill: var(--ua-main-1);
}

.ButtonIcon.dark:not(:disabled):hover svg {
  fill: var(--ua-yellow);
}

.ButtonIcon.yellow {
  background: var(--ua-yellow);
}
.ButtonIcon.yellow:not(:disabled):hover svg {
  fill: var(--ua-blue);
}
.ButtonIcon.yellow:not(:disabled):hover {
  background: var(--ua-main-1);
  border-color: var(--gray-light-color);
}

.ButtonIcon.transparent {
  background: transparent;
  color: var(--white-color);
  border-color: var(--white-transparent-color);
}

.ButtonIcon.transparent:not(:disabled):hover {
  background: transparent;
  border-color: var(--white-color);
}

.ButtonIcon:disabled {
  background: var(--gray-light-color);
  border-color: var(--gray-light-color);
  color: var(--gray-color);
  cursor: not-allowed;
}
