.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
}
