.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 48px 10px 18px; /* Leave space for icon on the right */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  background-color: #ffffff;
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);

  /* todo remove when global styles are added */
  box-sizing: border-box;
}

.default {
  border: 1px solid var(--gray-color);
  color: var(--main-color);
  border-radius: 12px;
}

.uastyle {
  border: 1px solid var(--gray-light-color);
  color: var(--main-color);
  border-radius: 18px;
  font-size: 14px;
}

.underline {
  border: none;
  color: var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.ghost {
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px 10px 10px 10px;
}

@media (min-width: 481px) {
  .ghost {
    font-size: 24px;
    border-radius: 12px;
  }
}

.default::placeholder {
  color: var(--main-color);
  opacity: 1;
}

.uastyle::placeholder {
  color: var(--gray-color);
  opacity: 1;
}

.underline::placeholder {
  color: var(--gray-color);
  opacity: 1;
}

.ghost::placeholder {
  color: var(--gray-color);
  opacity: 1;
}

.input:focus {
  border-color: var(--gray-dark-color);
  outline: none;
  color: var(--main-color);
}

/* Override browser autofill styles */
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--ua-main-1) inset !important;
  -webkit-text-fill-color: var(--ua-blue) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.iconButton {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
}

.errorMessage {
  color: #dc2626;
  font-size: 13px;
  margin-top: 2px;
  font-style: italic;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.counter {
  font: inherit;
  position: absolute;
  top: 16px;
  line-height: 24px;
  right: 0;
  color: var(--gray-color);
}
