.profileCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 30px 30px;
  border-radius: 16px;
  border: 1px solid var(--gray-light-color);
  background-color: var(--ua-main-1);
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.avatarWrapper {
  position: relative;
  margin-bottom: 8px;
}

.avatarEdit {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;

  max-width: 28px;
  height: 28px;

  fill: var(--ua-blue);
}

.fileInput {
  display: none;
}

.profileData {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  color: var(--ua-blue);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.profileData div {
  text-overflow: ellipsis;
  overflow: hidden;
}

.profileData > div > label {
  color: var(--gray-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.28px;
  margin-right: 8px;
}

@media (min-width: 440px) {
  .profileCard {
    padding: 40px 40px;
    gap: 20px;
  }

  .profileData {
    width: 100%;
  }

  .avatarEdit {
    max-width: 38px;
    height: 38px;
  }
}

.profileLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
  color: var(--ua-blue);
}
