.list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}

.link {
  text-decoration: none;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
  border-radius: 12px;
}

.link {
  width: 36px;
  height: 36px;
}

.link svg {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .link {
    width: 40px;
    height: 40px;
  }
}

.link.light {
  background: var(--ua-main);
  color: var(--ua-blue);
  border-color: var(--gray-color);
  border-radius: 10px;
}

.link.light:not(:disabled):hover {
  background: var(--ua-blue);
  color: var(--white-color);
  border-color: var(--ua-blue);
}

.link.light:not(:disabled):hover svg {
  color: var(--ua-yellow);
}
