.Button {
  width: fit-content;
  font-weight: 700;
  border-radius: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background var(--transition-duration)
      var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Button svg {
  width: 22px;
  height: 22px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.Button.small {
  font-size: 12px;
  line-height: 18px;
}

.Button.medium {
  padding: 14px;
  font-size: 14px;
  line-height: 143%;

  @media screen and (min-width: 768px) {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 24px;
  }
}

.Button.mysmall {
  padding: 14px 14px 14px 14px;
  font-size: 12px;
  line-height: 18px;
}

.Button.light {
  background: var(--white-color);
  color: var(--main-color);
  border: 1px solid transparent;
}

.Button.light:not(:disabled):hover {
  background: var(--main-color);
  color: var(--white-color);
}

.Button.light:not(:disabled):hover svg {
  color: var(--white-color);
}

.Button.dark {
  background: var(--main-color);
  color: var(--white-color);
}

.Button.dark:not(:disabled):hover {
  background: var(--white-color);
  color: var(--main-color);
}

.Button.blue {
  background: var(--ua-blue);
  color: var(--white-color);
}

.Button.blue:not(:disabled):hover {
  background: var(--ua-blue);
  color: var(--ua-yellow);
}

.Button.uastyle {
  background: transparent;
  color: var(--ua-blue);
  border: 1px solid var(--ua-blue);
  border-radius: 16px;
}

.Button.uastyle:not(:disabled):hover {
  background: var(--ua-blue);
  color: var(--ua-yellow);
}

.Button.uastyleGrayBorder {
  background: transparent;
  color: var(--ua-blue);
  border: 1px solid var(--gray-light-color);
  border-radius: 16px;
}

.Button.uastyleGrayBorder:not(:disabled):hover {
  background: var(--ua-blue);
  color: var(--ua-yellow);
}

.Button.uastyleHeaderActivePage {
  font-size: 20px;
  background: transparent;
  color: cornsilk;
  /* color: var(--ua-main); */
  padding: 10px 0 5px;
}

.Button.uastyleHeaderActivePage:not(:disabled):hover {
  color: cornsilk;
  /* color: var(--ua-main); */
}

.Button.uastyleHeaderNotActivePage {
  font-size: 20px;
  background: transparent;
  color: var(--ua-blue);
  padding: 10px 0 5px;
}

.Button.uastyleHeaderNotActivePage:not(:disabled):hover {
  /* color: var(--ua-main); */
  color: cornsilk;
}

.Button.transparent {
  background: transparent;
  color: var(--white-color);
}

.Button.transparent:not(:disabled):hover {
  background: var(--white-color);
  color: var(--main-color);
}

.Button.transparent.bordered {
  border: 1px solid var(--white-transparent-color);
}

.Button.uatransparent {
  background: transparent;
  color: var(--ua-blue);
}

.Button.uatransparent:not(:disabled):hover {
  background: var(--ua-blue);
  color: var(--ua-yellow);
}

.Button.uatransparent.bordered {
  border-radius: 18px;
}

.Button.bordered {
  /* border: 1px solid var(--main-color); */
  border: 1px solid var(--gray-color);
}

.Button.uabordered {
  /* border-top: 1px solid var(--ua-main); */
  border-bottom: 1px solid var(--ua-main);
  border-radius: 0;
}

.Button:disabled {
  background: var(--gray-color);
  border: 1px solid var(--gray-color);
  color: var(--white-color);
  cursor: not-allowed;
}

.Button.fullWidth {
  width: 100%;
}
