.Button {
  width: fit-content;
  font-weight: 700;
  border-radius: var(--border-radius-m);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background var(--transition-duration)
      var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Button svg {
  width: 22px;
  height: 22px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.Button.small {
  /* padding: 14px; */
  font-size: 12px;
  line-height: 18px;
}

.Button.medium {
  padding: 14px;
  font-size: 14px;
  line-height: 143%;

  @media screen and (min-width: 768px) {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 24px;
  }
}

.Button.mysmall {
  padding: 14px 14px 14px 14px;
  font-size: 12px;
  line-height: 18px;
}

.Button.light {
  background: var(--white-color);
  color: var(--main-color);
  border: 1px solid transparent;
}

.Button.light:not(:disabled):hover {
  background: var(--main-color);
  color: var(--white-color);
}

.Button.light:not(:disabled):hover svg {
  color: var(--white-color);
}

.Button.dark {
  background: var(--main-color);
  color: var(--white-color);
}

.Button.dark:not(:disabled):hover {
  background: var(--white-color);
  color: var(--main-color);
}

.Button.blue {
  background: var(--ua-blue);
  color: var(--white-color);
}

.Button.blue:not(:disabled):hover {
  background: var(--ua-blue);
  color: var(--ua-yellow);
}

.Button.uastyle {
  background: transparent;
  color: var(--ua-blue);
  border: 1px solid var(--ua-blue);
  border-radius: 16px;
}

.Button.uastyle:not(:disabled):hover {
  background: var(--ua-blue);
  color: var(--ua-yellow);
}

.Button.uastyleGrayBorder {
  background: transparent;
  color: var(--ua-blue);
  border: 1px solid var(--gray-light-color);
  border-radius: 16px;
}

.Button.uastyleGrayBorder:not(:disabled):hover {
  background: var(--ua-blue);
  color: var(--ua-yellow);
}

.Button.uastyleHeaderHomePage {
  font-size: 16px;
  background: transparent;
  color: var(--ua-main);
  padding-bottom: 5px;
  /* border:1px solid var(--gray-light-color); */
}

.Button.uastyleHeaderHomePage:not(:disabled):hover {
  color: var(--ua-main);
}

.Button.uastyleHeader {
  font-size: 16px;
  background: transparent;
  color: var(--ua-blue);
  padding-bottom: 5px;
  /* border:1px solid var(--gray-light-color); */
}

.Button.uastyleHeader:not(:disabled):hover {
  color: var(--ua-main);
}

.Button.transparent {
  background: transparent;
  color: var(--white-color);
}

.Button.transparent:not(:disabled):hover {
  background: var(--white-color);
  color: var(--main-color);
}

.Button.transparent.bordered {
  border: 1px solid var(--white-transparent-color);
}

.Button.bordered {
  /* border: 1px solid var(--main-color); */
  border: 1px solid var(--gray-color);
}

.Button.uabordered {
  /* border: 1px solid var(--main-color); */
  border-bottom: 1px solid var(--ua-main);
  border-radius: 0;
  /* padding-left: 2px;
  padding-right: 2px; */
}

.Button:disabled {
  background: var(--gray-color);
  border: 1px solid var(--gray-color);
  color: var(--white-color);
  cursor: not-allowed;
}

.Button.fullWidth {
  width: 100%;
}
