.serviceCard {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--gray-color);
  border-radius: 18px;
  padding: 24px;
  background-color: var(--ua-main-1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.thumb {
  height: 230px;
  flex-shrink: 0;

  border-radius: 18px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 300px;
    flex-shrink: 0;
    min-width: 400px;
    border-radius: 12px;
  }
}

.serviceImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 48px;
  min-width: 0;
  overflow: hidden;
}

.cardDescription {
}

@media screen and (min-width: 540px) {
  .cardDescription {
    margin-bottom: auto;
  }
}

.cardActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.cardAuthorInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cardAuthorButton {
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cardAuthorName {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--ua-blue);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @supports (-webkit-line-clamp: 2) and (display: -webkit-box) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
  }
}
@media (min-width: 768px) {
  .cardAuthorName {
    font-size: 16px;
    line-height: 24px;
  }
}

.serviceIcons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.isFavorite {
  background-color: var(--main-color);
}

.initials {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .initials {
    font-size: 18px;
  }
}

/* .fillFavorite {
  fill: var(--white-color);
} */

.locations {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: -32px;
}

.locationItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.locationIcon {
  display: block;
  width: 16px;
  height: 16px;

  flex-shrink: 0;
  stroke: var(--gray-color);
}

.locationText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  min-width: 0;
}
