.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 10px;
  color: var(--main-color);
  margin-left: 8px;
  padding: 2px 6px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-left: 24px;
    padding: 4px 8px;
  }
}

.locationIcon {
  font-size: 14px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.whiteLocation {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.2);
}
