.location {
  display: flex;
  align-items: flex-end;
  /* gap: 4px; */
  font-size: 14px;
  /* color: var(--main-color); */
  /* margin-left: 8px;
  padding: 2px 6px;
  background-color: rgba(0, 0, 0, 0.1); */
  background-color: transparent !important;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: all 0.3s ease;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    /* margin-left: 24px;
    padding: 4px 8px; */
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
}

.locationIcon {
  font-size: 14px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.locationText {
  margin-top: 1px;
  font-size: 18px;
  flex: 1;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--ua-blue);
  text-decoration: underline;
  @media screen and (min-width: 768px) {
    max-width: 200px;
  }
}

.changeIcon {
  font-size: 10px;
  opacity: 0.7;
  transition: opacity 0.3s ease;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.location:hover .changeIcon {
  opacity: 1;
}

.whiteLocation {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
