.location {
  text-align: right;
  font-size: 12px;
  line-height: 20px;

  max-width: 1400px;
  cursor: pointer;
  transition: all 0.3s ease;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  &:hover {
    transform: scale(1.01);
  }
}

.locationIcon {
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.locationText {
  color: var(--ua-blue);
}

.locationText:hover {
  color: var(--ua-blue);
}

.changeIcon {
  width: 12px;
  height: 12px;
  fill: var(--ua-blue);
  margin-left: 6px;
  opacity: 0;
}

.location:hover .changeIcon {
  opacity: 1;
}
