.container {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  gap: 4px;
}

.thumbnail {
  width: 100%;
  height: 75px;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  color: var(--ua-blue);
  line-height: 1.4;
}

.category {
  margin: 0;
  font-size: 13px;
  color: #6b7280;
  font-weight: 500;
}

.location {
  margin: 0;
  font-size: 10px;
  color: black;
  display: flex;
  align-items: center;
  gap: 4px;
}

.button {
  margin-top: 8px;
  width: 100%;
}

.serviceIcons {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}
