.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--ua-main-1);
  flex-wrap: nowrap;
  padding: 10px;
  border: 1px solid var(--gray-light-color);
  border-radius: 18px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.card:first-child {
  /* padding-top: 10px; */
}
.card:not(:last-child) {
  border-bottom: 1px solid var(--gray-light-color);
}

.userInfo {
  display: flex;
  gap: 16px;
}

/* Group containing name, count, and follow button */
.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  max-width: 92px;
}

@media (min-width: 768px) {
  .userDetails {
    max-width: 116px;
  }
}

@media (min-width: 1440px) {
  .userDetails {
    max-width: 144px;
  }
}

/* Service thumbnails (tablet and desktop only) */
.serviceList {
  display: none;
}

/* Thumbnail images */
.thumb {
  width: 100px;
  height: 100px;
  border-radius: var(--border-radius-s);
  flex-shrink: 0;
  overflow: hidden;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Arrow icon button wrapper */
.arrowButton {
  align-self: flex-start;
}

.followButton {
  padding: 10px 24px !important;
  border-color: var(--gray-color) !important; /* the color has to be forced */
  color: var(--gray-color) !important; /* the color has to be forced */
  margin-top: 4px;
}

/* special button styles only for desktop -- has to be forced */
@media (min-width: 1440px) {
  .followButton {
    background-color: var(--ua-blue) !important;
  }

  .followButton:hover {
    color: var(--white-color) !important;
  }
}

/* Tablet (768px+) layout */
@media (min-width: 768px) {
  .card {
    align-items: center;
  }

  .serviceList {
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
  }
}
