.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--ua-main-1);
  flex-wrap: nowrap;
  padding: 10px;
  border: 1px solid var(--gray-light-color);
  border-radius: 18px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card:not(:last-child) {
  border-bottom: 1px solid var(--gray-light-color);
}

.userInfo {
  display: flex;
  gap: 16px;
}

.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  max-width: 92px;
}

@media (min-width: 768px) {
  .userDetails {
    max-width: 430px;
  }
}

@media (min-width: 1440px) {
  .userDetails {
    max-width: 430px;
  }
}

.serviceList {
  display: none;
}

.thumb {
  width: 100px;
  height: 100px;
  border-radius: var(--border-radius-s);
  flex-shrink: 0;
  overflow: hidden;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrowButton {
  align-self: flex-start;
}

.followButton {
  max-width: 140px;
  padding: 10px 24px !important;
  margin-top: 4px;
}

/* Tablet (768px+) layout */
@media (min-width: 768px) {
  .card {
    align-items: center;
  }

  .serviceList {
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
  }
}
