.wrapper {
  position: relative;
  width: 100%;
}

.wrapper input::placeholder {
  color: var(--gray-color);
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  padding: 8px 0;
  background-color: var(--ua-main-1);
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.item {
  color: var(--ua-blue);
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.item:hover {
  background-color: var(--gray-light-color, #f3f3f3);
}
