.tabs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  position: relative;
  /* padding-bottom: 10px; */
  color: var(--gray-color);
  border-radius: 0;
  white-space: nowrap;
  flex-shrink: 0;
}

.tab:hover {
  color: var(--ua-blue);
  /* border-bottom: 1px solid var(--ua-blue); */
}

.active {
  color: var(--ua-blue);
  /* border-bottom: 1px solid var(--ua-blue); */
  /* padding-bottom: 10px; */
}

@media (min-width: 481px) {
  .tabs {
    gap: 16px;
    /* max-width: 964px; */
  }

  .tab {
    font-size: 20px;
  }
}
