.container {
  margin: 0 auto;
  padding: 20px 10px 0;

  @media screen and (min-width: 768px) {
    padding: 16px 16px 0;
  }

  @media screen and (min-width: 1440px) {
    padding: 20px 20px 0;
  }
}

.heroSection {
  position: relative;

  max-width: 1440px;
  min-height: 360px;
  padding: 94px 20px 50px;

  border-radius: var(--ua-border-radius-standard);
  overflow: hidden;
  background-image: url("../../assets/images/hero/map.png");
  background-repeat: no-repeat;
  background-position: center center;
  contain: layout;

  @media screen and (min-width: 768px) {
    min-height: 400px;
    padding: 120px 29px 50px;
  }

  @media screen and (min-width: 1440px) {
    min-height: 440px;
    padding: 120px 262px 50px;
    max-width: 1600px;
  }
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(191, 191, 192, 0.96) 10%,
    rgba(5, 108, 178, 0.96) 100%
  );
  z-index: 0;
}

.heroTextWrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;

  @media screen and (min-width: 768px) {
    gap: 40px;
  }
}

.heroTitle {
  color: var(--ua-main);
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto;
  text-transform: none;
  padding: 0 25px;

  @media screen and (min-width: 768px) {
    padding: 0 25px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 481px) {
    padding: 0 25px;
  }
}

.heroSubtitle {
  text-align: center;
  margin: 0 auto;
  max-width: 326px;
  color: var(--ua-main);

  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    max-width: 577px;
  }
}

.heroSearch {
  /* max-width: 400px; */
  width: 100%;
  /* height: 40px; */
}

.searchWrapper {
  display: flex;
  /* gap: 12px; */
  align-items: center;
  width: 100%;
  max-width: 550px;
  height: 40px;
  padding: 0 30px;

  @media screen and (min-width: 768px) {
    padding: 0;
    /* flex-direction: column; */
    /* gap: 8px; */
  }
}

.searchButton {
  width: 50px;
  height: 40px;
  border-top: var(--ua-border-standard);
  border-right: var(--ua-border-standard);
  border-bottom: var(--ua-border-standard);
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
  }

  @media screen and (min-width: 768px) {
    /* width: 100%; */
    height: 50px;
  }
}

.searchButton svg {
  stroke: antiquewhite;

  &:hover {
    transform: scale(1.2);
  }
}

.heroSearch input {
  background: rgba(var(--ua-blue), 0.4) !important;
  border: var(--ua-border-standard) !important;
  color: var(--ua-main) !important;
  font-size: 12px;
  padding: 7px 16px;
  border-radius: 12px 0px 0px 12px !important;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding: 12px 16px;
  }
}

.heroSearch input::placeholder {
  color: var(--gray-color) !important;
}

.heroSearch input:focus {
  border: var(--ua-border-standard) !important;
}

.heroSearch input:focus::placeholder {
  color: transparent !important;
}
