/* base */
.ulCategoryList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-content: center;

  @media only screen and (min-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media only screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

.liCatlist {
  width: 100%;
  /* height: 250px; */

  border-radius: 20px;
  overflow: hidden;

  letter-spacing: -0.32px;
}

.liLoadMore {
  width: 100%;
  height: 250px;

  border-radius: 20px;
  overflow: hidden;
  background-color: var(--main-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.allCategories {
  letter-spacing: -0.32px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  /* .liCatlist {
     height: 369px; 
  } */

  .liLoadMore {
    height: 369px;
  }

  .allCategories {
    letter-spacing: -0.4px;
  }
}
