.detailsBlock {
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.aiSection {
  margin-top: 48px;
  padding-top: 48px;
  border-top: 1px solid #e0e0e0;

  @media screen and (min-width: 768px) {
    margin-top: 64px;
    padding-top: 64px;
  }
}
