.title {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.actions {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.buttonGroup {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
