.container {
  padding-bottom: 80px;
  background-color: rgb(253, 253, 240);

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1440px) {
    padding-bottom: 120px;
  }
}
