.container {
  min-height: 800px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    min-height: 1000px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1440px) {
    min-height: 1200px;
    padding-top: 40px;
  }
}

.headWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 343px;
  padding: 20px 0 20px 10px;
}

@media screen and (min-width: 768px) {
  .headWrapper {
    max-width: 531px;
    padding: 0 0 40px 20px;
  }
}

@media screen and (min-width: 1440px) {
}
