.container {
  padding-bottom: 64px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.headWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 343px;
  padding-left: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .headWrapper {
    max-width: 531px;
  }
}

@media screen and (min-width: 1440px) {
}
