.notFoundMsg {
  max-width: 610px;
  width: 100%;
  text-align: center;
  margin: 80px auto;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  width: 100%;
  /* margin-top: 32px; */
}

@media (min-width: 768px) {
  .notFoundMsg {
    margin-top: 100px;
  }
  .listContainer {
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 40px; */
  }
}

@media (min-width: 1148px) {
  .notFoundMsg {
    margin-top: 140px;
  }
}
