.locationWrapper {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 11;

  display: flex;
  justify-content: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    padding: 0 36px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 40px;
    margin-bottom: 0;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  height: 86px;
  min-height: 86px;
  padding: 14px 0;
  width: calc(100% - 20px);
  max-width: 1400px;
  background: linear-gradient(180deg, var(--gray-color) 0%, #267cb6 90%);
  border-radius: var(--ua-border-radius-standard);
  margin-top: 20px;
  padding: 36px 0px;
  contain: layout;

  @media screen and (min-width: 768px) {
    height: 108px;
    min-height: 108px;
    padding: 36px 36px;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (min-width: 1440px) {
  }
}

.homeHeader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  max-width: 1400px;
  background: transparent;

  @media screen and (min-width: 768px) {
    margin-top: 10px;
    padding: 46px 36px;
  }

  @media screen and (min-width: 1440px) {
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    padding: 0;
  }

  @media screen and (min-width: 1440px) {
    /* padding: 0 80px; */
  }
}

.leftSection {
  display: flex;
  align-items: center;
}

.menuBtn {
  margin-left: 4px;
  width: 28px;
  height: 28px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menuIcon {
  width: 28px;
  height: 28px;
  fill: var(--ua-main);
}

.menuBtn:hover .menuIcon {
  stroke: var(--main-color);
}

.whiteMenuBtn .menuIcon {
  fill: var(--white-color);
}

.whiteMenuBtn:hover .menuIcon {
  stroke: var(--white-color);
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
