.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  padding: 24px 0;
  width: 100%;
  max-width: 1400px;
  background: linear-gradient(180deg, #bfbfc0 10%, #056cb2 100%);
  border-radius: 20px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    padding: 36px 0;
  }

  @media screen and (min-width: 1440px) {
    padding: 40px 40px;
  }
}

.homeHeader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  padding: 24px 0;
  width: 100%;
  max-width: 1440px;
  background: transparent;

  @media screen and (min-width: 768px) {
    padding: 36px 0;
  }

  @media screen and (min-width: 1440px) {
    padding: 40px 0;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    /* padding: 0 32px; */
  }

  @media screen and (min-width: 1440px) {
    /* padding: 0 80px; */
  }
}

.homeContainer {
  /* padding: 0 24px; */

  @media screen and (min-width: 768px) {
    padding: 0 48px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 80px;
  }
}

.menuBtn {
  margin-left: 4px;
  width: 28px;
  height: 28px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menuIcon {
  width: 28px;
  height: 28px;
  fill: var(--main-color);
}

.menuBtn:hover .menuIcon {
  stroke: var(--main-color);
}

.whiteMenuBtn .menuIcon {
  fill: var(--white-color);
}

.whiteMenuBtn:hover .menuIcon {
  stroke: var(--white-color);
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  /* text-transform: lowercase; */
  text-decoration: none;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
  }
}

.whiteLogo {
  color: var(--white-color);
}

.logoImage {
  height: 64px;
  /* width: auto; */
  fill: var(--white-color);
}

@media screen and (min-width: 768px) {
  .logoImage {
    fill: var(--white-color);
    height: 64px;
    border-radius: 8px;
  }
}
