.container {
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  padding-right: 6px;
  width: 122px;

  background-color: var(--ua-yellow);
  border-radius: 14px;
  cursor: pointer;
  /* border: 1px solid var(--ua-blue); */
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px) {
    padding-right: 14px;
    width: 200px;
  }
}

.profileName {
  margin-left: 6px;
  margin-right: auto;
  padding-right: 4px;
  max-width: 90px;

  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  color: var(--white-color);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    max-width: 200px;
  }
}

.button {
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;

  background: transparent;
  border: none;
  cursor: pointer;
}

.arrowIcon {
  width: 18px;
  height: 18px;
  fill: var(--white-color);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.buttonOpen .arrowIcon {
  transform: rotate(180deg);
}

.popover {
  position: absolute;
  z-index: 5;
  top: calc(100% + 10px);

  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 15px;
  min-width: 100%;

  background-color: var(--ua-yellow);
  /* border: 1px solid var(--ua-blue); */
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px) {
    top: calc(100% + 8px);
  }
}

.link {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.24px;
  color: var(--ua-main);
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
}

.link:hover {
  color: var(--ua-blue);
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 2;
  background-color: transparent;
  border: none;
  padding: 0;
}

.link.logoutButton:hover svg {
  fill: var(--ua-blue);
}

.logoutIcon {
  width: 18px;
  height: 18px;
  margin-left: 2px;
  fill: var(--white-color);
}
