.thumb {
  width: 100%;
  height: 100%;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.wrapper {
  display: flex;
  gap: 4px;

  position: absolute;
  bottom: 16px;
  left: 16px;
}

.categoryButton {
  font-weight: 700;
  /* color: var(--ua-yellow) !important; */

  /* display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px; */

  border: 1px solid #bfbfc0 !important;
  /* background: rgba(255, 255, 255, 0.2); */
  background: rgb(5, 108, 178, 0.1) !important;
  padding: 10px !important;
  color: var(--ua-main) !important;
  /* padding: 8px 12px; */
  border-radius: 10px !important;
}
.categoryButton:hover {
  border-color: var(--ua-yellow) !important;
  background: rgba(5, 108, 178, 0.2) !important;
  color: var(--ua-yellow) !important;
}

/* tablet -> desktop */
@media only screen and (min-width: 768px) {
  .categoryButton {
    font-size: 20px;
  }
  .wrapper {
    position: absolute;
    bottom: 24px;
    left: 24px;
  }
}

.image {
  background-image: linear-gradient(180deg, #bfbfc0 10%, #056cb2 100%);
}

/* .juridical {
  background-image: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0.2) 100%
    ),
    image-set(
      url("../../assets/images/categories/Juridical.webp@1x.webp") 1x,
      url("../../assets/images/categories/Juridical.webp@2x.webp") 2x
    );
}

.breakfast {
  background-image: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0.2) 100%
    ),
    image-set(
      url("../../assets/images/categories/Breakfast.webp@1x.webp") 1x,
      url("../../assets/images/categories/Breakfast.webp@2x.webp") 2x
    );
}

.dessert {
  background-image: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0.2) 100%
    ),
    image-set(
      url("../../assets/images/categories/Desserts.webp@1x.webp") 1x,
      url("../../assets/images/categories/Desserts.webp@2x.webp") 2x
    );
}

.goat {
  background-image: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0.2) 100%
    ),
    image-set(
      url("../../assets/images/categories/Goat.webp@1x.webp") 1x,
      url("../../assets/images/categories/Goat.webp@2x.webp") 2x
    );
}

.lamb {
  background-image: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0.2) 100%
    ),
    image-set(
      url("../../assets/images/categories/Lamb.webp@1x.webp") 1x,
      url("../../assets/images/categories/Lamb.webp@2x.webp") 2x
    );
}

.miscellaneous {
  background-image: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0.2) 100%
    ),
    image-set(
      url("../../assets/images/categories/Miscellaneous.webp@1x.webp") 1x,
      url("../../assets/images/categories/Miscellaneous.webp@2x.webp") 2x
    );
}

.pasta {
  background-image: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0.2) 100%
    ),
    image-set(
      url("../../assets/images/categories/Pasta.webp@1x.webp") 1x,
      url("../../assets/images/categories/Pasta.webp@2x.webp") 2x
    );
}

.pork {
  background-image: image-set(
    url("../../assets/images/categories/Pork.webp@1x.webp") 1x,
    url("../../assets/images/categories/Pork.webp@2x.webp") 2x
  );
}

.seafood {
  background-image: image-set(
    url("../../assets/images/categories/Seafood.webp@1x.webp") 1x,
    url("../../assets/images/categories/Seafood.webp@2x.webp") 2x
  );
}

.side {
  background-image: image-set(
    url("../../assets/images/categories/Side.webp@1x.webp") 1x,
    url("../../assets/images/categories/Side.webp@2x.webp") 2x
  );
}

.starter {
  background-image: image-set(
    url("../../assets/images/categories/Starter.webp@1x.webp") 1x,
    url("../../assets/images/categories/Starter.webp@2x.webp") 2x
  );
}

.vegan {
  background-image: image-set(
    url("../../assets/images/categories/Vegan.webp@1x.webp") 1x,
    url("../../assets/images/categories/Vegan.webp@2x.webp") 2x
  );
}

.vegetarian {
  background-image: image-set(
    url("../../assets/images/categories/Vegetarian.webp@1x.webp") 1x,
    url("../../assets/images/categories/Vegetarian.webp@2x.webp") 2x
  );
} */
