footer {
  min-height: 150px;
  contain: layout;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.separator {
  height: 1px;
  border: none;
  border-bottom: 1px solid var(--gray-color);
  margin: 40px 10px;

  @media screen and (min-width: 768px) {
    margin: 40px 20px;
  }
}
