.DualButtonGroup {
  width: fit-content;
  border-radius: 18px;
  /*background: var(--white-color);*/
  background: #056cb2;
}

.DualButton {
  flex: 1;
  padding: 10px 16px;
  background: transparent;
  border: 1pt solid #056cb2;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
  transition: opacity 0.2s;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.DualButton.left {
  /*background: var(--white-color);*/
  background: #056cb2;
  color: var(--white-color);
  border-radius: var(--border-radius-m) 0 0 var(--border-radius-m);
}

@media (min-width: 481px) {
  .DualButton.left {
    padding: 14px 30px;
  }
}

.DualButton.left:hover {
  opacity: 0.5;
}

.DualButton.right {
  border-radius: 18px;
  /*background: var(--main-color);*/
  background: #f6c114;
  color: var(--white-color);
  /*border: 1px solid var(--gray-color);*/
}

@media (min-width: 481px) {
  .DualButton.right {
    padding: 14px 28px;
  }
}

.DualButton.right:hover {
  opacity: 0.7;
}
