.servicesBlock {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

@media screen and (min-width: 540px) {
  .servicesBlock {
    gap: 40px;
  }
}

@media screen and (min-width: 1080px) {
  .servicesBlock {
    flex-direction: row;
    /*justify-content: space-between; */
    justify-content: left;
  }
}

.servicesListBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  flex: 1;
}

.serviceList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  width: 100%;

  @media screen and (min-width: 540px) {
    row-gap: 40px;
    column-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

img {
  display: block;
  max-width: 100%;
}

.servicesFiltersBlock {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.showMapButton {
  width: 100%;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  background-color: #ffffff;
  border: 1px solid var(--gray-color);
  border-radius: 12px;
  color: var(--ua-blue);
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.showMapButton:hover {
  background: #3b82f6;
  color: var(--ua-yellow);
}

.showMapButton:active {
  transform: scale(0.98);
}

@media screen and (min-width: 540px) {
  .servicesFiltersBlock {
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
  }

  .showMapButton {
    width: auto;
    flex-shrink: 0;
    padding: 10px 24px;
  }
}

@media screen and (min-width: 1080px) {
  .servicesFiltersBlock {
    max-width: 330px;
    justify-content: flex-start;
    flex-direction: column;
  }

  .showMapButton {
    width: 100%;
  }
}
