.Avatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background: var(--ua-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--ua-blue);
  color: var(--ua-main);
}
