.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 32px;
  color: var(--ua-blue);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.button {
  justify-content: center;
  width: 100%;
  border-radius: 14px !important;
}

input {
  background-color: var(--ua-main-1) !important;
  border: 1px solid var(--gray-color) !important;
  color: var(--ua-blue) !important;

  &::placeholder {
    color: var(--gray-color) !important;
    opacity: 1 !important;
  }

  &:focus {
    border-color: var(--ua-blue);
    background-color: var(--ua-main-1) !important;
    color: var(--ua-blue) !important;
    border: 1px solid var(--ua-blue) !important;
  }
}
