:root {
  --main-color: #050505;
  --gray-color: #bfbebe;
  --gray-dark-color: #aaaaaa;
  --gray-light-color: #e8e8e8;
  --white-color: #ffffff;
  --red-color: #d10808;
  --white-transparent-color: rgba(255, 255, 255, 0.2);
  --white-transparent-color-2: rgba(255, 255, 255, 0.1);
  --button-color: #1a1a1a;
  --ua-blue: #056cb2;
  /* --ua-yellow: #f6c114; */
  --ua-yellow: #f7c400;
  --ua-main: #fdfdf0;
  --ua-main-1: #fffff6;

  --border-radius-s: 15px;
  --border-radius-m: 30px;
  --border-radius-full: 50%;

  --transition-duration: 0.2s;
  --transition-timing-function: ease;
  --Typography-line-clamp: 1;
}
